<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Meu currículo</title>

    <link href="~/Public/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="style3"></div><div class="style_2"><span class="style3"><a href="#" title="Bem vindo(a)"><strong>Bem vindo(a)</strong></a></span></div>
    <div id="wrap">
        <div id="topbar">
            <h1 id="sitename"><a href="#" target="_blank">Bem vindo(a)</a></h1>
            <div id="menus">
                <ul id="topmenu">
                    <li class="active">
                        <a onclick="location.href='@Url.Action("Index","Perfil")'">Perfil</a>
                    </li>
                    <li>
                        <a onclick="location.href='@Url.Action("Index","Experiencia")'">Experiência</a>
                    </li>
                    <li>
                        <a onclick="location.href='@Url.Action("Index","Projetos")'">Projetos</a>
                    </li>
                    <li>
                        <a onclick="location.href='@Url.Action("Index","Escolaridade")'">Escolaridade</a>
                    </li>
                    <li>
                        <a onclick="location.href='@Url.Action("Index","Contato")'">Contato</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="header">
        </div>
        <div id="content">
            <div id="mainpage">
                <h2>Sejam bem vindos!</h2>
                <p>
                    Esta página foi desenvolvida afim de demonstrar as minhas habilidades com desenvolvimento de aplicações web e desktop <br />
                    Esta página foi desenvolvida com MVC 4.0, usando um layout simples.
                <br />                  
               </p>
            </div>
            <div id="sidebar">

            </div>
            <div id="sidebarcontents">
                <ul id="menu">
                    <li>
                        <h2>Our Services</h2>
                    </li>
                    <li>
                        <ul>
                            <li><a href="#">Link 01</a></li>
                            <li><a href="#">link 02</a></li>
                            <li><a href="#">link 03</a></li>
                            <li> <a href="#">link 04</a></li>
                            <li><a href="#">link 05</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="sidebarbottom"></div>
        </div>
        <div class="clear"></div>
    </div>

    </div>
    <div id="footer">
        <p>Copyright &copy; 2013 your sitename| <a href="#">Sitemap</a></p>
    </div>
</body>
</html>
